<mat-toolbar fxLayout="row">
  <div fxFlex fxLayoutAlign="start center">
    <a mat-icon-button routerLink="home" class="logo">
      <mat-icon inline svgIcon="logo" aria-hidden="false" aria-label="FRCU Dev Blog"></mat-icon>
    </a>
  </div>

  <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap="20px">
    <button mat-raised-button color="accent" matTooltip="Nuevo Post" routerLink="newPost">
      <span *ngIf="(isResponsiveLayout$ | async) === false"> Nuevo Post </span>
      <mat-icon aria-hidden="false" aria-label="Nuevo Post">post_add</mat-icon>
    </button>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [class.avatar]="user$ | async"
      [style.background-image]="'url(' + (user$ | async)?.photoURL + ')'"
    >
      <mat-icon aria-hidden="false" aria-label="Menu" *ngIf="(user$ | async)  === null">menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="login" *ngIf="(user$ | async) === null">
        <span>Ingresar</span>
      </button>

      <button mat-menu-item routerLink="about">
        <span>Acerca de FRCU Dev Blog</span>
      </button>

      <button mat-menu-item *ngIf="user$ | async" (click)="signOut()">
        <span>Salir</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
