<mat-toolbar fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div fxFlex="20" fxLayoutAlign="center center">
    <button mat-icon-button *ngIf="isResponsiveLayout | async" class="menu" (click)="toggleMenu()">
      <mat-icon aria-hidden="false" aria-label="Menu">{{ navOpened ? 'close' : 'menu' }}</mat-icon>
    </button>
  </div>

  <mat-form-field fxFlex="60">
    <input matInput [formControl]="search" placeholder="Busca en el blog" />
  </mat-form-field>

  <div fxFlex="20" fxLayoutAlign="center center">
    <span>Sarasa</span>
  </div>
</mat-toolbar>

<mat-progress-bar *ngIf="isLoading | async" color="accent" mode="indeterminate"></mat-progress-bar>
