a {
    cursor: pointer;
}

.logo {
    width: 60px;
}

.mat-toolbar {
  position: sticky;
}

.menu-button {
  cursor: pointer;
  margin-right: 0px !important;
}

.avatar {
  background-size: cover;
}